In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('assets/dataset.csv')

C:\Users\IsmailKaraman\AppData\Local\Temp\ipykernel_3096\3127177488.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('assets/dataset.csv')

In [3]:
df_raw.head()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [4]:
df_raw.shape

(1083397, 42)

In [5]:
df_raw.describe()

,latitude,longitude,open_days_per_week,open_hours_per_week,working_shifts_per_week,avg_rating,total_reviews_count,reviews_count_in_default_language,excellent,very_good,average,poor,terrible,food,service,value,atmosphere
count,1.067607e+06,1.067607e+06,593832.000000,593832.000000,593832.000000,986761.000000,1.031162e+06,988204.000000,988204.000000,988204.000000,988204.000000,988204.000000,988204.000000,599325.000000,604287.000000,602692.000000,261785.000000
mean,4.656718e+01,5.838040e+00,6.327081,62.023282,7.630754,4.035943,1.028890e+02,44.563415,24.653440,10.490516,4.109302,2.355306,2.954850,4.104179,4.067245,3.982897,3.933682
std,5.882611e+00,8.639410e+00,0.966734,30.538134,2.550128,0.713694,2.672415e+02,148.728179,89.850801,35.512256,15.669631,9.352756,11.030069,0.564208,0.581267,0.577605,0.555262
min,2.764031e+01,-7.121809e+01,1.000000,0.000000,1.000000,1.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,4.190986e+01,-8.027315e-01,6.000000,39.000000,6.000000,3.500000,6.000000e+00,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,3.500000,3.500000
50%,4.658510e+01,5.646530e+00,7.000000,58.500000,7.000000,4.000000,2.400000e+01,7.000000,3.000000,2.000000,1.000000,0.000000,0.000000,4.000000,4.000000,4.000000,4.000000
75%,5.140537e+01,1.223767e+01,7.000000,81.500000,7.000000,4.500000,9.300000e+01,26.000000,13.000000,6.000000,2.000000,1.000000,2.000000,4.500000,4.500000,4.500000,4.500000
max,6.994156e+01,3.336942e+01,7.000000,168.000000,15.000000,5.000000,5.240400e+04,15229.000000,9383.000000,4091.000000,2132.000000,1253.000000,1215.000000,5.000000,5.000000,5.000000,5.000000

In [6]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083397 entries, 0 to 1083396
Data columns (total 42 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   restaurant_link                    1083397 non-null  object
 1   restaurant_name                    1083397 non-null  object
 2   original_location                  1083397 non-null  object
 3   country                            1083397 non-null  object
 4   region                             1033074 non-null  object
 5   province                           742765 non-null   object
 6   city                               682712 non-null   object
 7   address                            1083397 non-null  object
 8   latitude                           1067607 non-null  float64
 9   longitude                          1067607 non-null  float64
 10  claimed                            1081555 non-null  object
 11  awards                             263133 non-null   object
 12  popularity_detailed                988409 non-null   object
 13  popularity_generic                 985605 non-null   object
 14  top_tags                           972763 non-null   object
 15  price_level                        806192 non-null   object
 16  price_range                        304327 non-null   object
 17  meals                              635347 non-null   object
 18  cuisines                           914294 non-null   object
 19  special_diets                      340256 non-null   object
 20  features                           317407 non-null   object
 21  vegetarian_friendly                1083397 non-null  object
 22  vegan_options                      1083397 non-null  object
 23  gluten_free                        1083397 non-null  object
 24  original_open_hours                593832 non-null   object
 25  open_days_per_week                 593832 non-null   float64
 26  open_hours_per_week                593832 non-null   float64
 27  working_shifts_per_week            593832 non-null   float64
 28  avg_rating                         986761 non-null   float64
 29  total_reviews_count                1031162 non-null  float64
 30  default_language                   988204 non-null   object
 31  reviews_count_in_default_language  988204 non-null   float64
 32  excellent                          988204 non-null   float64
 33  very_good                          988204 non-null   float64
 34  average                            988204 non-null   float64
 35  poor                               988204 non-null   float64
 36  terrible                           988204 non-null   float64
 37  food                               599325 non-null   float64
 38  service                            604287 non-null   float64
 39  value                              602692 non-null   float64
 40  atmosphere                         261785 non-null   float64
 41  keywords                           99198 non-null    object
dtypes: float64(17), object(25)
memory usage: 347.2+ MB

In [7]:
# convert columns to inferred types
df = df_raw.convert_dtypes()
# ref: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html

## summary analysis for columns

Creating a summary dataframe for columns to understand them
- A custom summary for everything, no need for external libraries and repetive calling of special methods.
- I find usefull when the number of columns is high.

#### helper functions

In [8]:
def find_col_type(x):
    if x in ['Float64', 'Int64']:
        return 'numerical'
    elif x in ['string']:
        return 'text'
    else:
        return 'other'

In [9]:
col_analysis = df.describe(include='all').T
# inferred column types
col_analysis['col_dtypes'] = df.dtypes.values
# finding col types numerical, text, or other depending on the column dtypes    
col_analysis['col_types'] = col_analysis['col_dtypes'].apply(find_col_type)
# # of null values
col_analysis['num_of_nulls'] = df.isna().sum().values
# percentage of null values
col_analysis['perc_of_nulls'] = col_analysis['num_of_nulls']/df.shape[0]*100

In [10]:
numerical_cols = col_analysis.loc[col_analysis['col_types']=='numerical'].index
text_cols = col_analysis.loc[col_analysis['col_types']=='text'].index

In [11]:
col_analysis

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,col_dtypes,col_types,num_of_nulls,perc_of_nulls
restaurant_link,1083397,1083397,g10001637-d10002227,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,0,0.000000
restaurant_name,1083397,840914,Subway,4881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,0,0.000000
original_location,1083397,65997,"[""Europe"", ""United Kingdom (UK)"", ""England"", ""...",22942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,0,0.000000
country,1083397,24,Italy,224763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,0,0.000000
region,1033074,250,Lombardy,33097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,50323,4.644927
province,742765,1333,Province of Barcelona,18952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,340632,31.441106
city,682712,43495,Paris,18129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,400685,36.984134
address,1083397,1034685,Greece,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,0,0.000000
latitude,1067607.0,NaN,NaN,NaN,46.567182,5.882611,27.64031,41.90986,46.5851,51.405367,69.94156,Float64,numerical,15790,1.457453
longitude,1067607.0,NaN,NaN,NaN,5.83804,8.63941,-71.218094,-0.802732,5.64653,12.237675,33.369423,Float64,numerical,15790,1.457453
claimed,1081555,2,Unclaimed,607159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,1842,0.170021
awards,263133,917,"Travellers' Choice, Certificate of Excellence ...",20868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,820264,75.712227
popularity_detailed,988409,981409,#7616 of 8661 Restaurants in Barcelona,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,94988,8.767608
popularity_generic,985605,981940,#1 of 1 places to eat in Agios Ioannis,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,97792,9.026423
top_tags,972763,39962,"Mid-range, French",20211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,110634,10.211769
price_level,806192,3,â‚¬â‚¬-â‚¬â‚¬â‚¬,537918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,277205,25.586650
price_range,304327,7298,â‚¬10-â‚¬30,5937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,779070,71.909928
meals,635347,745,"Lunch, Dinner",196123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,448050,41.356031
cuisines,914294,97741,Italian,53243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,169103,15.608590
special_diets,340256,68,Vegetarian Friendly,156652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,743141,68.593600
features,317407,56453,Reservations,36514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,765990,70.702614
vegetarian_friendly,1083397,2,N,759380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,0,0.000000
vegan_options,1083397,2,N,946800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,0,0.000000
gluten_free,1083397,2,N,959900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,0,0.000000
original_open_hours,593832,237890,"{""Mon"": [""00:00-23:59""], ""Tue"": [""00:00-23:59""...",7674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,489565,45.187960
open_days_per_week,593832.0,NaN,NaN,NaN,6.327081,0.966734,1.0,6.0,7.0,7.0,7.0,Int64,numerical,489565,45.187960
open_hours_per_week,593832.0,NaN,NaN,NaN,62.023282,30.538134,0.0,39.0,58.5,81.5,168.0,Float64,numerical,489565,45.187960
working_shifts_per_week,593832.0,NaN,NaN,NaN,7.630754,2.550128,1.0,6.0,7.0,7.0,15.0,Int64,numerical,489565,45.187960
avg_rating,986761.0,NaN,NaN,NaN,4.035943,0.713694,1.0,3.5,4.0,4.5,5.0,Float64,numerical,96636,8.919722
total_reviews_count,1031162.0,NaN,NaN,NaN,102.888989,267.24148,0.0,6.0,24.0,93.0,52404.0,Int64,numerical,52235,4.821409
default_language,988204,2,English,689754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,95193,8.786530
reviews_count_in_default_language,988204.0,NaN,NaN,NaN,44.563415,148.728179,1.0,2.0,7.0,26.0,15229.0,Int64,numerical,95193,8.786530
excellent,988204.0,NaN,NaN,NaN,24.65344,89.850801,0.0,1.0,3.0,13.0,9383.0,Int64,numerical,95193,8.786530
very_good,988204.0,NaN,NaN,NaN,10.490516,35.512256,0.0,0.0,2.0,6.0,4091.0,Int64,numerical,95193,8.786530
average,988204.0,NaN,NaN,NaN,4.109302,15.669631,0.0,0.0,1.0,2.0,2132.0,Int64,numerical,95193,8.786530
poor,988204.0,NaN,NaN,NaN,2.355306,9.352756,0.0,0.0,0.0,1.0,1253.0,Int64,numerical,95193,8.786530
terrible,988204.0,NaN,NaN,NaN,2.95485,11.030069,0.0,0.0,0.0,2.0,1215.0,Int64,numerical,95193,8.786530
food,599325.0,NaN,NaN,NaN,4.104179,0.564208,1.0,4.0,4.0,4.5,5.0,Float64,numerical,484072,44.680943
service,604287.0,NaN,NaN,NaN,4.067245,0.581267,1.0,4.0,4.0,4.5,5.0,Float64,numerical,479110,44.222940
value,602692.0,NaN,NaN,NaN,3.982897,0.577605,1.0,3.5,4.0,4.5,5.0,Float64,numerical,480705,44.370162
atmosphere,261785.0,NaN,NaN,NaN,3.933682,0.555262,1.0,3.5,4.0,4.5,5.0,Float64,numerical,821612,75.836651
keywords,99198,99001,"steak, onion loaf, lettuce wedge, chateaubrian...",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string,text,984199,90.843800

# Data cleaning

### 1.Identify the columns with mixed data types.

In [12]:
# converting columns to inferred types
df = df_raw.convert_dtypes()
# ref: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html

In [13]:
# I use convert_dtypes function to infer types because in default pandas treats null values as float
# after converting dtypes to inferred types they will be treated as NAType
print(df_raw.loc[15, 'total_reviews_count'])
print(type(df_raw.loc[15, 'total_reviews_count']))
print(type(df.loc[15, 'total_reviews_count']))

nan
<class 'numpy.float64'>
<class 'pandas._libs.missing.NAType'>

In [14]:
# finding columns that includes more than one different data type
mixed_type_cols = []
all_mixed_types = []
print('\033[1m'+'Type Counts - Col name - Types - Inferred Types'+'\033[0m')
for col in df_raw.columns:
    type_count = df[col].apply(type).nunique()
    all_mixed_types.extend(df[col].apply(type).unique())
    if type_count > 1:
        print(f"{type_count} - {col}  -  {df_raw[col].apply(type).unique()} - {df[col].apply(type).unique()}")
        mixed_type_cols.append(col)

Type Counts - Col name - Types - Inferred Types
2 - region  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - province  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - city  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - latitude  -  [<class 'float'>] - [<class 'float'> <class 'pandas._libs.missing.NAType'>]
2 - longitude  -  [<class 'float'>] - [<class 'float'> <class 'pandas._libs.missing.NAType'>]
2 - claimed  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - awards  -  [<class 'float'> <class 'str'>] - [<class 'pandas._libs.missing.NAType'> <class 'str'>]
2 - popularity_detailed  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - popularity_generic  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - top_tags  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - price_level  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - price_range  -  [<class 'float'> <class 'str'>] - [<class 'pandas._libs.missing.NAType'> <class 'str'>]
2 - meals  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - cuisines  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - special_diets  -  [<class 'float'> <class 'str'>] - [<class 'pandas._libs.missing.NAType'> <class 'str'>]
2 - features  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - original_open_hours  -  [<class 'float'> <class 'str'>] - [<class 'pandas._libs.missing.NAType'> <class 'str'>]
2 - open_days_per_week  -  [<class 'float'>] - [<class 'pandas._libs.missing.NAType'> <class 'int'>]
2 - open_hours_per_week  -  [<class 'float'>] - [<class 'pandas._libs.missing.NAType'> <class 'float'>]
2 - working_shifts_per_week  -  [<class 'float'>] - [<class 'pandas._libs.missing.NAType'> <class 'int'>]
2 - avg_rating  -  [<class 'float'>] - [<class 'float'> <class 'pandas._libs.missing.NAType'>]
2 - total_reviews_count  -  [<class 'float'>] - [<class 'int'> <class 'pandas._libs.missing.NAType'>]
2 - default_language  -  [<class 'str'> <class 'float'>] - [<class 'str'> <class 'pandas._libs.missing.NAType'>]
2 - reviews_count_in_default_language  -  [<class 'float'>] - [<class 'int'> <class 'pandas._libs.missing.NAType'>]
2 - excellent  -  [<class 'float'>] - [<class 'int'> <class 'pandas._libs.missing.NAType'>]
2 - very_good  -  [<class 'float'>] - [<class 'int'> <class 'pandas._libs.missing.NAType'>]
2 - average  -  [<class 'float'>] - [<class 'int'> <class 'pandas._libs.missing.NAType'>]
2 - poor  -  [<class 'float'>] - [<class 'int'> <class 'pandas._libs.missing.NAType'>]
2 - terrible  -  [<class 'float'>] - [<class 'int'> <class 'pandas._libs.missing.NAType'>]
2 - food  -  [<class 'float'>] - [<class 'float'> <class 'pandas._libs.missing.NAType'>]
2 - service  -  [<class 'float'>] - [<class 'float'> <class 'pandas._libs.missing.NAType'>]
2 - value  -  [<class 'float'>] - [<class 'float'> <class 'pandas._libs.missing.NAType'>]
2 - atmosphere  -  [<class 'float'>] - [<class 'pandas._libs.missing.NAType'> <class 'float'>]
2 - keywords  -  [<class 'float'> <class 'str'>] - [<class 'pandas._libs.missing.NAType'> <class 'str'>]

In [15]:
# all unique mixed types
set(all_mixed_types)

{float, int, pandas._libs.missing.NAType, str}

We can see that most of the columns have 2 different data types. When we look at these types, one of the types is always pandas._libs.missing.NAType which corresponds to Null values.  
This means that some columns have null values and pandas treat them as float. 
If we do not infer types, here, we may miss float columns as mixed types.

### 2.For each column, count the number of rows per data type.

In [16]:
# printing the numver of rows per data types for each column
for col in df.columns:
    type_count = df[col].apply(type)
    print('\033[1m' + col + '\033[0m')
    print(type_count.value_counts())
    print('-'*20)

restaurant_link
<class 'str'>    1083397
Name: restaurant_link, dtype: int64
--------------------
restaurant_name
<class 'str'>    1083397
Name: restaurant_name, dtype: int64
--------------------
original_location
<class 'str'>    1083397
Name: original_location, dtype: int64
--------------------
country
<class 'str'>    1083397
Name: country, dtype: int64
--------------------
region
<class 'str'>                            1033074
<class 'pandas._libs.missing.NAType'>      50323
Name: region, dtype: int64
--------------------
province
<class 'str'>                            742765
<class 'pandas._libs.missing.NAType'>    340632
Name: province, dtype: int64
--------------------
city
<class 'str'>                            682712
<class 'pandas._libs.missing.NAType'>    400685
Name: city, dtype: int64
--------------------
address
<class 'str'>    1083397
Name: address, dtype: int64
--------------------
latitude
<class 'float'>                          1067607
<class 'pandas._libs.missing.NAType'>      15790
Name: latitude, dtype: int64
--------------------
longitude
<class 'float'>                          1067607
<class 'pandas._libs.missing.NAType'>      15790
Name: longitude, dtype: int64
--------------------
claimed
<class 'str'>                            1081555
<class 'pandas._libs.missing.NAType'>       1842
Name: claimed, dtype: int64
--------------------
awards
<class 'pandas._libs.missing.NAType'>    820264
<class 'str'>                            263133
Name: awards, dtype: int64
--------------------
popularity_detailed
<class 'str'>                            988409
<class 'pandas._libs.missing.NAType'>     94988
Name: popularity_detailed, dtype: int64
--------------------
popularity_generic
<class 'str'>                            985605
<class 'pandas._libs.missing.NAType'>     97792
Name: popularity_generic, dtype: int64
--------------------
top_tags
<class 'str'>                            972763
<class 'pandas._libs.missing.NAType'>    110634
Name: top_tags, dtype: int64
--------------------
price_level
<class 'str'>                            806192
<class 'pandas._libs.missing.NAType'>    277205
Name: price_level, dtype: int64
--------------------
price_range
<class 'pandas._libs.missing.NAType'>    779070
<class 'str'>                            304327
Name: price_range, dtype: int64
--------------------
meals
<class 'str'>                            635347
<class 'pandas._libs.missing.NAType'>    448050
Name: meals, dtype: int64
--------------------
cuisines
<class 'str'>                            914294
<class 'pandas._libs.missing.NAType'>    169103
Name: cuisines, dtype: int64
--------------------
special_diets
<class 'pandas._libs.missing.NAType'>    743141
<class 'str'>                            340256
Name: special_diets, dtype: int64
--------------------
features
<class 'pandas._libs.missing.NAType'>    765990
<class 'str'>                            317407
Name: features, dtype: int64
--------------------
vegetarian_friendly
<class 'str'>    1083397
Name: vegetarian_friendly, dtype: int64
--------------------
vegan_options
<class 'str'>    1083397
Name: vegan_options, dtype: int64
--------------------
gluten_free
<class 'str'>    1083397
Name: gluten_free, dtype: int64
--------------------
original_open_hours
<class 'str'>                            593832
<class 'pandas._libs.missing.NAType'>    489565
Name: original_open_hours, dtype: int64
--------------------
open_days_per_week
<class 'int'>                            593832
<class 'pandas._libs.missing.NAType'>    489565
Name: open_days_per_week, dtype: int64
--------------------
open_hours_per_week
<class 'float'>                          593832
<class 'pandas._libs.missing.NAType'>    489565
Name: open_hours_per_week, dtype: int64
--------------------
working_shifts_per_week
<class 'int'>                            593832
<class 'pandas._libs.missing.NAType'>    489565
Name: working_shifts_per_week, dtype: int64
--------------------
avg_rating
<class 'float'>                          986761
<class 'pandas._libs.missing.NAType'>     96636
Name: avg_rating, dtype: int64
--------------------
total_reviews_count
<class 'int'>                            1031162
<class 'pandas._libs.missing.NAType'>      52235
Name: total_reviews_count, dtype: int64
--------------------
default_language
<class 'str'>                            988204
<class 'pandas._libs.missing.NAType'>     95193
Name: default_language, dtype: int64
--------------------
reviews_count_in_default_language
<class 'int'>                            988204
<class 'pandas._libs.missing.NAType'>     95193
Name: reviews_count_in_default_language, dtype: int64
--------------------
excellent
<class 'int'>                            988204
<class 'pandas._libs.missing.NAType'>     95193
Name: excellent, dtype: int64
--------------------
very_good
<class 'int'>                            988204
<class 'pandas._libs.missing.NAType'>     95193
Name: very_good, dtype: int64
--------------------
average
<class 'int'>                            988204
<class 'pandas._libs.missing.NAType'>     95193
Name: average, dtype: int64
--------------------
poor
<class 'int'>                            988204
<class 'pandas._libs.missing.NAType'>     95193
Name: poor, dtype: int64
--------------------
terrible
<class 'int'>                            988204
<class 'pandas._libs.missing.NAType'>     95193
Name: terrible, dtype: int64
--------------------
food
<class 'float'>                          599325
<class 'pandas._libs.missing.NAType'>    484072
Name: food, dtype: int64
--------------------
service
<class 'float'>                          604287
<class 'pandas._libs.missing.NAType'>    479110
Name: service, dtype: int64
--------------------
value
<class 'float'>                          602692
<class 'pandas._libs.missing.NAType'>    480705
Name: value, dtype: int64
--------------------
atmosphere
<class 'pandas._libs.missing.NAType'>    821612
<class 'float'>                          261785
Name: atmosphere, dtype: int64
--------------------
keywords
<class 'pandas._libs.missing.NAType'>    984199
<class 'str'>                             99198
Name: keywords, dtype: int64
--------------------

We are lucky that we have only null values which cause a mixed data type problem. In some cases, the columns may have different data types such as 52 and 'fiftytwo' for age column. In this case, further methods should be applied to treat these columns.
After being sure that the columns only have null values, their own type and null values, we can use simply use isna() function to count the null values.

In [17]:
# looking to all null values
df.isna().sum()

restaurant_link                           0
restaurant_name                           0
original_location                         0
country                                   0
region                                50323
province                             340632
city                                 400685
address                                   0
latitude                              15790
longitude                             15790
claimed                                1842
awards                               820264
popularity_detailed                   94988
popularity_generic                    97792
top_tags                             110634
price_level                          277205
price_range                          779070
meals                                448050
cuisines                             169103
special_diets                        743141
features                             765990
vegetarian_friendly                       0
vegan_options                             0
gluten_free                               0
original_open_hours                  489565
open_days_per_week                   489565
open_hours_per_week                  489565
working_shifts_per_week              489565
avg_rating                            96636
total_reviews_count                   52235
default_language                      95193
reviews_count_in_default_language     95193
excellent                             95193
very_good                             95193
average                               95193
poor                                  95193
terrible                              95193
food                                 484072
service                              479110
value                                480705
atmosphere                           821612
keywords                             984199
dtype: int64

### 3.Would removing missing values solve the mixed data type problem?

Either removing them or imputing them with the most frequent values (for non-numerical) or mean/median (for numerical) will solve the problem in this case. Depending on the case removing or imputation can be a solution. If the amount of data at hand is enough and null values exist in the dataset because of the operations after collecting the data, they can be removed. If the amount of data is not too much and missing data happens because of the nature of the process, then imputing is a good solution. In some cases, missing data is inevitable and they should be treated as null or another feature. (In a credit scoring case, if a customer does not fill the field for previous credits, it can be a risky action and null should be treated as a new feature.)

# Data understanding